<p>Hello <%= name %>,</p>

<p>
  You have been added as an admin for the society <strong><%= societyName %></strong>.
<p>
You can login into our site (http://app.smartechsociety.com/admin) as admin using the following credentials: <br/>
<strong>Username:</strong> <%= email %> <br/>
<strong>Password:</strong> <%= password %>
</p>
