<style>
  #menu-toggle-btn {
    display: none;
  }
  @media (max-width: 991px) {
    #menu-toggle-btn {
      display: initial;
    }
  }
</style>
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border:0;">
            <a href="/" class="site_title">
                <!--<i class="fa fa-paw"></i> <span>Gentellela Alela!</span>-->
                <img src="/images/ls-logo.png" alt="..." class="img-responsive ss-logo">
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <a href="/">
        <div class="profile">
            <div class="profile_pic">
              <img src="<%= profilePicUrl %>" onError='this.src = "/images/img.jpg"' alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>

                <h2><%= username %></h2>
            </div>
        </div>
        </a>
        <!-- /menu profile quick info -->
        <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <!--<h3>General</h3>-->
                        <ul class="nav side-menu">
                          <li><a href="/notices"><i class="fa fa-bullhorn"></i> My Notices </a></li> <!-- always show (landing page )-->
                          <% if (modulesSubscribed['services']) { %>
                          <li><a href="/services"><i class="fa fa-cog"></i> My Services</a></li>
                          <% } %>
                          <% if (modulesSubscribed['payments']) { %>
                          <li><a href="/bills"><i class="fa fa-dollar"></i> My Bills</a></li>
                          <% } %>
                          <% if (modulesSubscribed['documents']) { %>
                          <li><a href="/documents"><i class="fa fa-folder-open"></i> My Documents </a></li>
                          <% } %>
                          <% if (modulesSubscribed['employees']) { %>
                          <li><a href="/employees"><i class="fa fa-group"></i> Employee List </a></li>
                          <% } %>
                          <% if (modulesSubscribed['contacts']) { %>
                          <li><a href="/emergency"><i class="fa fa-plus-circle"></i> Emergency Contacts </a></li>
                          <% } %>
                          <% if (modulesSubscribed['visitors']) { %>
                          <li><a href="/visitors"><i class="fa fa-eye"></i> Frequent Visitors </a></li>
                          <% } %>
                          <% if (modulesSubscribed['members']) { %>
                          <li><a href="/board"><i class="fa fa-group"></i> Board of Members </a></li>
                          <% } %>
                          <% if (modulesSubscribed['classifieds']) { %>
                          <li><a href="/classified"><i class="fa fa-newspaper-o"></i> Classified Ads </a></li>
                          <% } %>
                          <% if (modulesSubscribed['polls']) { %>
                          <li><a href="/polls"><i class="fa fa-bar-chart"></i> Opinion Poll </a></li>
                          <% } %>
                          <% if (modulesSubscribed['residents']) { %>
                          <li><a href="/residents"><i class="fa fa-search"></i> Search Residents </a></li>
                          <% } %>

                          <li><a href="/contacts"><i class="fa fa-envelope"></i> Contact Us </a></li>
                          <li><a href="/faq"><i class="fa fa-question-circle"></i> FAQ </a></li>
                          <li><a href="/terms"><i class="fa fa-asterisk terms-icon"></i>Terms & Conditions</a></li>
                          <li><a href="#"></a></li>
                        </ul>
                        <%# <ul class="nav side-menu">
                          <li id='module-subscribed-notices' style='display: none'><a href="/notices"><i class="fa fa-bullhorn"></i> My Notices </a></li>
                          <li id='module-subscribed-services' style='display: none'><a href="/services"><i class="fa fa-cog"></i> My Services</a></li>
                          <li id='module-subscribed-payments' style='display: none'><a href="/bills"><i class="fa fa-dollar"></i> My Bills</a></li>
                          <li id='module-subscribed-documents' style='display: none'><a href="/documents"><i class="fa fa-folder-open"></i> My Documents </a></li>
                          <li id='module-subscribed-employees' style='display: none'><a href="/employees"><i class="fa fa-group"></i> Employee List </a></li>
                          <li id='module-subscribed-contacts' style='display: none'><a href="/emergency"><i class="fa fa-plus-circle"></i> Emergency Contacts </a></li>
                          <li id='module-subscribed-visitors' style='display: none'><a href="/visitors"><i class="fa fa-eye"></i> Frequent Visitors </a></li>
                          <li id='module-subscribed-members' style='display: none'><a href="/board"><i class="fa fa-group"></i> Board of Members </a></li>
                          <li id='module-subscribed-classifieds' style='display: none'><a href="/classified"><i class="fa fa-newspaper-o"></i> Classified Ads </a></li>
                          <li id='module-subscribed-polls' style='display: none'><a href="/polls"><i class="fa fa-bar-chart"></i> Opinion Poll </a></li>
                          <li id='module-subscribed-residents' style='display: none'><a href="/residents"><i class="fa fa-search"></i> Search Residents </a></li>
                          <li id='module-subscribed-contact-us-ALWAYS'><a href="/contacts"><i class="fa fa-envelope"></i> Contact Us </a></li>
                          <li><a href="/faq"><i class="fa fa-question-circle"></i> FAQ </a></li>
                          <li><a href="#"></a></li>
                          <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
                          <li><a href="#"></a></li>
                        </ul>%>
                    </div>

                </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small side-menu-footer">
                    <ul class="nav side-menu">
                        <li><a href="/logout" class="logout-link"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                    <p class="side-menu-footer">Powered by: <a href="http://www.logic-square.com/" target="_blank">Logic Square</a></p>
                </div>
        <!-- /menu footer buttons -->
    </div>
    <!-- left_col scroll-view -->
</div>
<!-- col-md-3 left_col -->

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle" id="menu-toggle-btn">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

              <li role="presentation" class="dropdown shift-left" id="vue-alerts-app">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell-o"></i>
                  <span class="badge bg-orange unread-alert-count">{{unreadAlertCount}}</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                  <!--
                  <li v-for="oneAlert in alerts">
                    <div style="padding: 17px;">
                      <div class="row">
                        <div class="col-xs-2">
                          <i style="color: green;" class="fa fa-envelope" v-if="oneAlert.unread"> </i>
                          <i style=";" class="fa fa-envelope-open" v-else> </i>
                        </div>
                        <div class="col-xs-6 col-xs-offset-4">{{ oneAlert.when }}</div>
                      </div>
                      <div class="row" style="margin-top: 15px;">
                        <p>{{ oneAlert.content }}</p>
                      </div>
                    </div>
                  </li>
                  -->
                  <li v-for="oneAlert in alerts">
                    <a @click="markUnread(oneAlert)">
                      <span>
                        <span v-if="oneAlert.unread"><i style="color: green;" class="fa fa-envelope"> </i></span>
                        <span v-else><i style=";" class="fa fa-envelope-o"> </i></span>
                        <%# <span>{{ oneAlert.what }}</span>%>
                        <span class="time">{{ oneAlert.when | timeAgo }}</span>
                      </span>
                      <span class="message" style="margin-top: 10px;">
                      {{ oneAlert.content }}
                      </span>
                    </a>
                  </li> <!-- /end v-for="oneAlert in alerts" -->
                  <li>
                    <div class="text-center">
                      <a href="/alerts">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                      </div>
                  </li>
                </ul>
              </li>

                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false" style="color:#555658">
                        <%# <img src="/images/img.jpg" alt="">%>
                        <%= username %>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="/"> Profile</a></li>
                        <%# <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>%>
                        <%# <li><a href="javascript:;">Help</a></li>%>
                        <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- nav_menu -->
</div>
<!-- top_nav -->
<!-- /top navigation -->
<script>
Vue.filter('timeAgo', function (value) {
    return moment(value).fromNow();
})
var vmAlerts = new Vue({
  el: "#vue-alerts-app",
  ready: function () {
    this.getAlerts(); // fetch info on first run once
    setInterval(this.getAlerts, 180*1000); // Poll every 3 mins
  },
  data: {
    alerts: [],
    unreadAlertCount: null
  },
  methods: {
    getAlerts: function () {
      // console.log('pollling.....');
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/notifications",
        success: function (resp) {
          console.log(resp);
          if (!resp.error) {
            vmAlerts.unreadAlertCount = resp.unreadAlertCount;
            vmAlerts.alerts = resp.alerts;
          } else {
            console.log('failed polling!!!');
          }
        }
      })
    },
    markUnread: function (oneAlert) {
      if (oneAlert.unread === false) return false; // already marked read; do nothing!
      $.ajax({
        method: "PUT",
        type: "PUT",
        url: "/notifications/"+oneAlert._id,
        success: function (resp) {
          if (resp.error) {
            console.log(resp);
            console.log('ooops');
          } else {
            console.log('yaaaaay');
            vmAlerts.getAlerts();
            // vmAlerts.unreadAlertCount = resp.unreadAlertCount;
            // vmAlerts.alerts = resp.alerts;
          }
        }
      })
    }
  }
})
</script>
